@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme {
  --font-header: 'Montserrat', sans-serif;
  --font-intro-name: 'Raleway', sans-serif;
  --font-body: 'Raleway', sans-serif;
  --font-z: 'Zalando Sans Expanded', sans-serif;
  --font-sections: 'Work Sans', sans-serif;
  --font-section-body: 'Open Sans', sans-serif;

  --color-header: hsl(0, 0%, 0%);
  --color-body: hsl(0, 0%, 16%);
  --color-intro-name: hsl(0, 0%, 0%);
}

@layer base {
  .font-header {
    font-family: var(--font-header);
    color: var(--color-header);
    font-weight: 500;
  }

  .font-intro-name {
    font-family: var(--font-intro-name);
    color: var(--color-intro-name);
    font-weight: 500;
    
  }

  .font-body {
    font-family: var(--font-body);
    color: var(--color-body);
    font-weight: 500;
  }

  .font-z {
    font-family: var(--font-z);
    color: var(--color-intro-name);
    font-weight: 500;
  }

  .font-sections {
    font-family: var(--font-sections);
    color: var(--color-intro-name);
    font-weight: 500;
  }


  .bg-page { 
    background-color: hsl(0, 0%, 97%);
  
  }
}