@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  --font-header: 'Montserrat', sans-serif;
  --font-name: 'Lato', sans-serif;
  --font-intro-body: 'Zalando Sans Expanded', sans-serif;

  --color-header: hsl(0, 0%, 0%);
  --color-intro-body: hsl(0, 0%, 25%);
}

@layer base {
  .font-header {
    font-family: var(--font-header);
    color: var(--color-header);
    font-weight: 500;
  }

  .font-name {
    font-family: var(--font-body);
    color: var(--color-intro-body);
    
  }

  .font-intro-body {
    font-family: var(--font-intro-body);
    color: var(--color-intro-body);
    font-weight: 400;
  }
  .bg-page {
    background-color: hsl(0, 0%, 98%);
  }
}